{% extends "base.html" %}

{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Shop</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            {% for product in object_list %}
            <div class="col-lg-4 col-md-6 mb-4" data-aos='fade-up'>

                <figure class="block-4-image">
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="img-fluid"></a>
                </figure>

                <div class="block-4-text p-4">
                    <a href="{{ product.get_absolute_url }}">
                        <h3>{{ product.title }}</h3>
                    </a>
                    <p class="mb-0">{{ product.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}