{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">{{ product.title }}</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">{{ product.title }}</h2>
                <p>{{ product.description }}</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type='submit' class="btn btn-sm btn-primary buy-now">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}